<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="2.5">
	<display-name>Locatie API</display-name>

	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>locatieapi</servlet-name>
		<servlet-class>
			com.googlecode.htmleasy.HtmleasyServletDispatcher
		</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>nl.loxia.locatieapi.LocatieAPIApplication</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>locatieapi</servlet-name>
		<url-pattern>/locatieapi/*</url-pattern>
	</servlet-mapping>
</web-app>